## Data Loading, Storage, and File Formats

In [1]:
import os
a = os.listdir('.')
a

['.ipynb_checkpoints',
 'abc.txt',
 'allData.csv',
 'AllTask.csv',
 'data.json',
 'index.html',
 'Pandas Ch 6.ipynb',
 'store.h5',
 'Task1.ipynb',
 'Task_1.docx',
 'TAXRATES1.csv',
 'TAXRATES10.csv',
 'TAXRATES11.csv',
 'TAXRATES12.csv',
 'TAXRATES13.csv',
 'TAXRATES14.csv',
 'TAXRATES15.csv',
 'TAXRATES16.csv',
 'TAXRATES2.csv',
 'TAXRATES3.csv',
 'TAXRATES4.csv',
 'TAXRATES5.csv',
 'TAXRATES6.csv',
 'TAXRATES7.csv',
 'TAXRATES8.csv',
 'TAXRATES9.csv']

In [25]:
import pandas as pd

# read_csv

Load delimited data from a file, URL, or file-like object; use comma as default delimiter

In [25]:
data = pd.read_csv('TAXRATES1.csv')
data

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [26]:
pd.read_csv('TAXRATES1.csv', header=None) # for Default column names

,0,1,2,3,4,5,6,7,8,9
0,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0,1
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0,2
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN,3
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0,4

In [27]:
pd.read_csv('TAXRATES1.csv', names=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']) # for custom columns

,a,b,c,d,e,f,g,h,i,j
0,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0,1
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0,2
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN,3
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0,4

In [28]:
pd.read_csv('TAXRATES1.csv', names=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], index_col='j') # Indexing through any column

,a,b,c,d,e,f,g,h,i
j,,,,,,,,,
RiskLevel,NaN,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate
1,0.0,AK,one,ANCHORAGE BOROUGH,0,0,0,NaN,0
2,1.0,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0,0
3,2.0,AK,two,ANCHORAGE BOROUGH,0,0,NaN,0,NaN
4,3.0,AK,two,ANCHORAGE BOROUGH,NaN,0,0,0,0

In [29]:
pd.read_csv('TAXRATES1.csv', index_col=['ZipCode','RiskLevel']) # Indexing multiple columns

                   Unnamed: 0 State      TaxRegionName  StateRate  \
ZipCode RiskLevel
one     1                   0    AK  ANCHORAGE BOROUGH        0.0
        2                   1    AK  ANCHORAGE BOROUGH        0.0
two     3                   2    AK  ANCHORAGE BOROUGH        0.0
        4                   3    AK  ANCHORAGE BOROUGH        NaN

                   EstimatedCombinedRate  EstimatedCountyRate  \
ZipCode RiskLevel
one     1                            0.0                  0.0
        2                            NaN                  0.0
two     3                            0.0                  NaN
        4                            0.0                  0.0

                   EstimatedCityRate  EstimatedSpecialRate
ZipCode RiskLevel
one     1                        NaN                   0.0
        2                        0.0                   0.0
two     3                        0.0                   NaN
        4                        0.0                   0.0

In [30]:
pd.isnull(data) #if null return True else False

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,True,False,True,False
3,False,False,False,False,True,False,False,False,False,False

In [39]:
pd.read_csv('TAXRATES1.csv', na_values=[0]) #na_values m jo bhi data do agar exist krta ho to to wo null m conevrt krdeta hai

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,NaN,AK,one,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,1
1,1.0,AK,one,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,2
2,2.0,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,3
3,3.0,AK,two,ANCHORAGE BOROUGH,NaN,NaN,NaN,NaN,NaN,4

# path 
String indicating filesystem location, URL, or file-like object

# sep or delimiter 
Character sequence or regular expression to use to split fields in each row

# header 
Row number to use as column names; defaults to 0 (first row), but should be None if there is no
header row

# index_col 
Column numbers or names to use as the row index in the result; can be a single name/number or a
list of them for a hierarchical index

# names 
List of column names for result, combine with header=None

# skiprows 
Number of rows at beginning of file to ignore or list of row numbers (starting from 0) to skip.

# na_values 
Sequence of values to replace with NA.
# comment 
Character(s) to split comments off the end of lines.

# parse_dates 
Attempt to parse data to datetime; False by default. If True, will attempt to parse all columns.
Otherwise can specify a list of column numbers or name to parse. If element of list is tuple or list, will
combine multiple columns together and parse to date (e.g., if date/time split across two columns).

# keep_date_col 
If joining columns to parse date, keep the joined columns; False by default.
# converters 
Dict containing column number of name mapping to functions (e.g., {'foo': f} would apply the
function f to all values in the 'foo' column).

# dayfirst 
When parsing potentially ambiguous dates, treat as international format (e.g., 7/6/2012 -> June 7,
2012); False by default.
# date_parser 
Function to use to parse dates.

# nrows 
Number of rows to read from beginning of file.
# iterator 
Return a TextParser object for reading file piecemeal.

# chunksize 
For iteration, size of file chunks.
# skip_footer 
Number of lines to ignore at end of file.

# verbose 
Print various parser output information, like the number of missing values placed in non-numeric
# encoding 
Text encoding for Unicode (e.g., 'utf-8' for UTF-8 encoded text).

# squeeze 
If the parsed data only contains one column, return a Series.
# thousands 
Separator for thousands (e.g., ',' or '.').

# Reading Text Files in Pieces

In [135]:
pd.options.display.max_rows = 2 # display 2 rows in output
pd.read_csv('TAXRATES1.csv')

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
...,...,...,...,...,...,...,...,...,...,...
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [52]:
pd.read_csv('TAXRATES1.csv', nrows=2) # load 2 rows data from file

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0,0.0,0,NaN,0,1
1,1,AK,one,ANCHORAGE BOROUGH,0,NaN,0,0.0,0,2

In [63]:
chunkread = pd.read_csv('TAXRATES1.csv', chunksize=2) # To read a file in pieces, specify a chunksize as a number of rows
for i in chunkread:
    print(i)

   Unnamed: 0 State ZipCode      TaxRegionName  StateRate  \
0           0    AK     one  ANCHORAGE BOROUGH          0
1           1    AK     one  ANCHORAGE BOROUGH          0

   EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
0                    0.0                    0                NaN
1                    NaN                    0                0.0

   EstimatedSpecialRate  RiskLevel
0                     0          1
1                     0          2
   Unnamed: 0 State ZipCode      TaxRegionName  StateRate  \
2           2    AK     two  ANCHORAGE BOROUGH        0.0
3           3    AK     two  ANCHORAGE BOROUGH        NaN

   EstimatedCombinedRate  EstimatedCountyRate  EstimatedCityRate  \
2                      0                  NaN                  0
3                      0                  0.0                  0

   EstimatedSpecialRate  RiskLevel
2                   NaN          3
3                   0.0          4

In [85]:
import csv
# For any file with a single-character delimiter, you can use Python’s built-in csv module.
# To use it, pass any open file or file-like object to csv.reader:
f = open('TAXRATES1.csv')
reader = csv.reader(f)
# reader = list(csv.reader(f)) # Without loop
reader

In [86]:
for line in reader:
    print(line)

['', 'State', 'ZipCode', 'TaxRegionName', 'StateRate', 'EstimatedCombinedRate', 'EstimatedCountyRate', 'EstimatedCityRate', 'EstimatedSpecialRate', 'RiskLevel']
['0', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '0', '0', '', '0', '1']
['1', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '', '0', '0', '0', '2']
['2', 'AK', 'two', 'ANCHORAGE BOROUGH', '0', '0', '', '0', '', '3']
['3', 'AK', 'two', 'ANCHORAGE BOROUGH', '', '0', '0', '0', '0', '4']

In [87]:
with open('TAXRATES1.csv') as f:
    lines = list(csv.reader(f))
lines

[['',
  'State',
  'ZipCode',
  'TaxRegionName',
  'StateRate',
  'EstimatedCombinedRate',
  'EstimatedCountyRate',
  'EstimatedCityRate',
  'EstimatedSpecialRate',
  'RiskLevel'],
 ['0', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '0', '0', '', '0', '1'],
 ['1', 'AK', 'one', 'ANCHORAGE BOROUGH', '0', '', '0', '0', '0', '2'],
 ['2', 'AK', 'two', 'ANCHORAGE BOROUGH', '0', '0', '', '0', '', '3'],
 ['3', 'AK', 'two', 'ANCHORAGE BOROUGH', '', '0', '0', '0', '0', '4']]

In [92]:
header, values = lines[0], lines[1:]
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'': ('0', '1', '2', '3'),
 'State': ('AK', 'AK', 'AK', 'AK'),
 'ZipCode': ('one', 'one', 'two', 'two'),
 'TaxRegionName': ('ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH',
  'ANCHORAGE BOROUGH'),
 'StateRate': ('0', '0', '0', ''),
 'EstimatedCombinedRate': ('0', '', '0', '0'),
 'EstimatedCountyRate': ('0', '0', '', '0'),
 'EstimatedCityRate': ('', '0', '0', '0'),
 'EstimatedSpecialRate': ('0', '0', '', '0'),
 'RiskLevel': ('1', '2', '3', '4')}

# CSV dialect options
## delimiter 
One-character string to separate fields; defaults to ','.
## lineterminator 
Line terminator for writing; defaults to '\r\n'. Reader ignores this and recognizes cross-platform
line terminators.
## quotechar 
Quote character for fields with special characters (like a delimiter); default is '"'.

## quoting 
Quoting convention. Options include csv.QUOTE_ALL (quote all fields), csv.QUOTE_MINI
MAL (only fields with special characters like the delimiter), csv.QUOTE_NONNUMERIC, and
csv.QUOTE_NONE (no quoting). See Python’s documentation for full details. Defaults to
QUOTE_MINIMAL.

## skipinitialspace 
Ignore whitespace after each delimiter; default is False.
## doublequote 
How to handle quoting character inside a field; if True, it is doubled (see online documentation
for full detail and behavior).
## escapechar 
String to escape the delimiter if quoting is set to csv.QUOTE_NONE; disabled by default

# JSON Data 
## (JavaScript Object Notation)

In [96]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""
print(obj)

{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}

In [97]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [102]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [106]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

# read_table

Load delimited data from a file, URL, or file-like object; use tab ('\t') as default delimiter

In [107]:
txt = pd.read_table('TAXRATES1.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [108]:
txt

  ,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0              0,AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1              1,AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2               2,AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3              3,AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

In [109]:
fwf = pd.read_fwf('TAXRATES1.csv')

# read_fwf
## Read data in fixed-width column format (i.e., no delimiters)
Means same as file

In [110]:
fwf

  ,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0              0,AK,one,ANCHORAGE BOROUGH,0,0,0,,0,1
1              1,AK,one,ANCHORAGE BOROUGH,0,,0,0,0,2
2               2,AK,two,ANCHORAGE BOROUGH,0,0,,0,,3
3              3,AK,two,ANCHORAGE BOROUGH,,0,0,0,0,4

# read_clipboard
Version of read_table that reads data from the clipboard; useful for converting tables from web pages
I copied this***==>
Company	Contact	Country
Alfreds	Maria	Germany
Centro	Francisco	Mexico
Ernst	Roland	Austria
Island	Helen	UK
Laughing	Yoshi	Canada
Magazzini	Giovanni	Italy

In [111]:
clip = pd.read_clipboard()
clip

Empty DataFrame
Columns: [siblings, =, pd.DataFrame(result['siblings'],, columns=['name',, 'age'])]
Index: []

# read_excel
Read tabular data from an Excel XLS or XLSX file
excel ki xlsx ki file se data read krta hai.

# read_hdf
Read HDF5 files written by pandas

In [112]:
df = pd.DataFrame([[1, 1.0, 'a']], columns=['x', 'y', 'z'])
df.to_hdf('./store.h5','data')

In [113]:
reread = pd.read_hdf('./store.h5')
reread

   x    y  z
0  1  1.0  a

# read_html 
Read all tables found in the given HTML document
HTML file

In [ ]:
# %load index.html
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds</td>
    <td>Maria</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro</td>
    <td>Francisco</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Roland</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island</td>
    <td>Helen</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing</td>
    <td>Yoshi</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini</td>
    <td>Giovanni</td>
    <td>Italy</td>
  </tr>
</table>

</body>
</html>

In [121]:
htmlReader = pd.read_html('index.html')

# read_json 
Read data from a JSON (JavaScript Object Notation) string representation.

In [ ]:
# %load data.json
{"columns":["col 1","col 2"],
  "index":["row 1","row 2"],
  "data":[["a","b"],["c","d"]]}

In [23]:
readJson = pd.read_json('data.json')
readJson

  columns  index    data
0   col 1  row 1  [a, b]
1   col 2  row 2  [c, d]

# read_msgpack 
Read pandas data encoded using the MessagePack binary format
# read_pickle 
Read an arbitrary object stored in Python pickle format
# read_sas 
Read a SAS dataset stored in one of the SAS system’s custom storage formats
# read_sql 
Read the results of a SQL query (using SQLAlchemy) as a pandas DataFrame
# read_stata 
Read a dataset from Stata file format
# read_feather 
Read the Feather binary file format

# XML and HTML: Web Scraping

In [33]:
tables = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')
tables

[                                             Bank Name                City  \
 0                                 The Enloe State Bank              Cooper
 1                  Washington Federal Bank for Savings             Chicago
 2      The Farmers and Merchants State Bank of Argonia             Argonia
 3                                  Fayette County Bank          Saint Elmo
 4    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
 5                                       First NBC Bank         New Orleans
 6                                        Proficio Bank  Cottonwood Heights
 7                        Seaway Bank and Trust Company             Chicago
 8                               Harvest Community Bank          Pennsville
 9                                          Allied Bank            Mulberry
 10                        The Woodbury Banking Company            Woodbury
 11                              First CornerStone Bank     King of Prussia
 12                                  Trust Company Bank             Memphis
 13                          North Milwaukee State Bank           Milwaukee
 14                              Hometown National Bank            Longview
 15                                 The Bank of Georgia      Peachtree City
 16                                        Premier Bank              Denver
 17                                      Edgebrook Bank             Chicago
 18                              Doral Bank  En Español            San Juan
 19                   Capitol City Bank & Trust Company             Atlanta
 20                             Highland Community Bank             Chicago
 21                    First National Bank of Crestview           Crestview
 22                                  Northern Star Bank             Mankato
 23              Frontier Bank, FSB D/B/A El Paseo Bank         Palm Desert
 24               The National Republic Bank of Chicago             Chicago
 25                                      NBRS Financial          Rising Sun
 26                               GreenChoice Bank, fsb             Chicago
 27                            Eastside Commercial Bank             Conyers
 28                              The Freedom State Bank             Freedom
 29                                         Valley Bank     Fort Lauderdale
 ..                                                 ...                 ...
 526                                  ANB Financial, NA         Bentonville
 527                                          Hume Bank                Hume
 528                             Douglass National Bank         Kansas City
 529                                  Miami Valley Bank            Lakeview
 530                                            NetBank          Alpharetta
 531                          Metropolitan Savings Bank          Pittsburgh
 532                                    Bank of Ephraim             Ephraim
 533                                      Reliance Bank        White Plains
 534              Guaranty National Bank of Tallahassee         Tallahassee
 535                                Dollar Savings Bank              Newark
 536                               Pulaski Savings Bank        Philadelphia
 537              First National Bank of Blanchardville      Blanchardville
 538                              Southern Pacific Bank            Torrance
 539                        Farmers Bank of Cheneyville         Cheneyville
 540                                      Bank of Alamo               Alamo
 541             AmTrade International Bank  En Español             Atlanta
 542                     Universal Federal Savings Bank             Chicago
 543                       Connecticut Bank of Commerce            Stamford
 544                                   New Century Bank     Shelby Township
 545                              Net 1st National Bank          Boca Raton
 546                                       NextBank, NA             Phoenix
 547                           Oakwood Deposit Bank Co.             Oakwood
 548                              Bank of Sierra Blanca       Sierra Blanca
 549                      Hamilton Bank, NA  En Español               Miami
 550                             Sinclair National Bank            Gravette
 551                                 Superior Bank, FSB            Hinsdale
 552                                Malta National Bank               Malta
 553                    First Alliance Bank & Trust Co.          Manchester
 554                  National State Bank of Metropolis          Metropolis
 555                                   Bank of Honolulu            Honolulu

      ST   CERT                Acquiring Institution        Closing Date  \
 0    TX  10716                   Legend Bank, N. A.        May 31, 2019
 1    IL  30570                   Royal Savings Bank   December 15, 2017
 2    KS  17719                          Conway Bank    October 13, 2017
 3    IL   1802            United Fidelity Bank, fsb        May 26, 2017
 4    WI  30003  First-Citizens Bank & Trust Company         May 5, 2017
 5    LA  58302                         Whitney Bank      April 28, 2017
 6    UT  35495                    Cache Valley Bank       March 3, 2017
 7    IL  19328                  State Bank of Texas    January 27, 2017
 8    NJ  34951  First-Citizens Bank & Trust Company    January 13, 2017
 9    AR     91                         Today's Bank  September 23, 2016
 10   GA  11297                          United Bank     August 19, 2016
 11   PA  35312  First-Citizens Bank & Trust Company         May 6, 2016
 12   TN   9956           The Bank of Fayette County      April 29, 2016
 13   WI  20364  First-Citizens Bank & Trust Company      March 11, 2016
 14   WA  35156                       Twin City Bank     October 2, 2015
 15   GA  35259                        Fidelity Bank     October 2, 2015
 16   CO  34112            United Fidelity Bank, fsb       July 10, 2015
 17   IL  57772             Republic Bank of Chicago         May 8, 2015
 18   PR  32102         Banco Popular de Puerto Rico   February 27, 2015
 19   GA  33938  First-Citizens Bank & Trust Company   February 13, 2015
 20   IL  20290            United Fidelity Bank, fsb    January 23, 2015
 21   FL  17557                       First NBC Bank    January 16, 2015
 22   MN  34983                            BankVista   December 19, 2014
 23   CA  34738    Bank of Southern California, N.A.    November 7, 2014
 24   IL    916                  State Bank of Texas    October 24, 2014
 25   MD   4862                          Howard Bank    October 17, 2014
 26   IL  28462                 Providence Bank, LLC       July 25, 2014
 27   GA  58125            Community & Southern Bank       July 18, 2014
 28   OK  12483      Alva State Bank & Trust Company       June 27, 2014
 29   FL  21793  Landmark Bank, National Association       June 20, 2014
 ..   ..    ...                                  ...                 ...
 526  AR  33901       Pulaski Bank and Trust Company         May 9, 2008
 527  MO   1971                        Security Bank       March 7, 2008
 528  MO  24660       Liberty Bank and Trust Company    January 25, 2008
 529  OH  16848         The Citizens Banking Company     October 4, 2007
 530  GA  32575                           ING DIRECT  September 28, 2007
 531  PA  35353  Allegheny Valley Bank of Pittsburgh    February 2, 2007
 532  UT   1249                        Far West Bank       June 25, 2004
 533  NY  26778                     Union State Bank      March 19, 2004
 534  FL  26838              Hancock Bank of Florida      March 12, 2004
 535  NJ  31330                          No Acquirer   February 14, 2004
 536  PA  27203                       Earthstar Bank   November 14, 2003
 537  WI  11639                        The Park Bank         May 9, 2003
 538  CA  27094                            Beal Bank    February 7, 2003
 539  LA  16445            Sabine State Bank & Trust   December 17, 2002
 540  TN   9961                          No Acquirer    November 8, 2002
 541  GA  33784                          No Acquirer  September 30, 2002
 542  IL  29355               Chicago Community Bank       June 27, 2002
 543  CT  19183                   Hudson United Bank       June 26, 2002
 544  MI  34979                          No Acquirer      March 28, 2002
 545  FL  26652                       Bank Leumi USA       March 1, 2002
 546  AZ  22314                          No Acquirer    February 7, 2002
 547  OH   8966       The State Bank & Trust Company    February 1, 2002
 548  TX  22002     The Security State Bank of Pecos    January 18, 2002
 549  FL  24382     Israel Discount Bank of New York    January 11, 2002
 550  AR  34248                   Delta Trust & Bank   September 7, 2001
 551  IL  32646                Superior Federal, FSB       July 27, 2001
 552  OH   6629                    North Valley Bank         May 3, 2001
 553  NH  34264  Southern New Hampshire Bank & Trust    February 2, 2001
 554  IL   3815              Banterra Bank of Marion   December 14, 2000
 555  HI  21029                   Bank of the Orient    October 13, 2000

            Updated Date
 0         June 18, 2019
 1      February 1, 2019
 2     February 21, 2018
 3      January 29, 2019
 4        March 22, 2018
 5      January 29, 2019
 6      January 29, 2019
 7      January 29, 2019
 8          May 18, 2017
 9          May 13, 2019
 10    December 13, 2018
 11    November 13, 2018
 12   September 14, 2018
 13     January 29, 2019
 14    February 19, 2018
 15         July 9, 2018
 16    February 20, 2018
 17     January 29, 2019
 18     January 29, 2019
 19     January 29, 2019
 20    November 15, 2017
 21    November 15, 2017
 22      January 3, 2018
 23    November 10, 2016
 24      January 6, 2016
 25     January 29, 2019
 26    December 12, 2016
 27      October 6, 2017
 28    February 21, 2018
 29     January 29, 2019
 ..                  ...
 526    February 1, 2019
 527    January 31, 2019
 528    October 26, 2012
 529  September 12, 2016
 530    January 31, 2019
 531    October 27, 2010
 532       April 9, 2008
 533       April 9, 2008
 534      April 17, 2018
 535       April 9, 2008
 536     October 6, 2017
 537        June 5, 2012
 538    October 20, 2008
 539    October 20, 2004
 540      March 18, 2005
 541  September 11, 2006
 542     October 6, 2017
 543   February 14, 2012
 544      March 18, 2005
 545       April 9, 2008
 546    February 5, 2015
 547    October 25, 2012
 548    November 6, 2003
 549  September 21, 2015
 550     October 6, 2017
 551     August 19, 2014
 552   November 18, 2002
 553   February 18, 2003
 554      March 17, 2005
 555      March 17, 2005

 [556 rows x 7 columns]]

In [34]:
len(tables)

1

In [35]:
failures = tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","June 18, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"
5,First NBC Bank,New Orleans,LA,58302,Whitney Bank,"April 28, 2017","January 29, 2019"
6,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,"March 3, 2017","January 29, 2019"
7,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,"January 27, 2017","January 29, 2019"
8,Harvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,"January 13, 2017","May 18, 2017"
9,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","May 13, 2019"
10,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","December 13, 2018"
11,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","November 13, 2018"
12,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 14, 2018"
13,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","January 29, 2019"
14,Hometown National Bank,Longview,WA,35156,Twin City Bank,"October 2, 2015","February 19, 2018"
15,The Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,"October 2, 2015","July 9, 2018"
16,Premier Bank,Denver,CO,34112,"United Fidelity Bank, fsb","July 10, 2015","February 20, 2018"
17,Edgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,"May 8, 2015","January 29, 2019"
18,Doral Bank En Español,San Juan,PR,32102,Banco Popular de Puerto Rico,"February 27, 2015","January 29, 2019"
19,Capitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,"February 13, 2015","January 29, 2019"
20,Highland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb","January 23, 2015","November 15, 2017"
21,First National Bank of Crestview,Crestview,FL,17557,First NBC Bank,"January 16, 2015","November 15, 2017"
22,Northern Star Bank,Mankato,MN,34983,BankVista,"December 19, 2014","January 3, 2018"
23,"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.","November 7, 2014","November 10, 2016"
24,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,"October 24, 2014","January 6, 2016"
25,NBRS Financial,Rising Sun,MD,4862,Howard Bank,"October 17, 2014","January 29, 2019"
26,"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC","July 25, 2014","December 12, 2016"
27,Eastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,"July 18, 2014","October 6, 2017"
28,The Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,"June 27, 2014","February 21, 2018"
29,Valley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association","June 20, 2014","January 29, 2019"
...,...,...,...,...,...,...,...
526,"ANB Financial, NA",Bentonville,AR,33901,Pulaski Bank and Trust Company,"May 9, 2008","February 1, 2019"
527,Hume Bank,Hume,MO,1971,Security Bank,"March 7, 2008","January 31, 2019"
528,Douglass National Bank,Kansas City,MO,24660,Liberty Bank and Trust Company,"January 25, 2008","October 26, 2012"
529,Miami Valley Bank,Lakeview,OH,16848,The Citizens Banking Company,"October 4, 2007","September 12, 2016"
530,NetBank,Alpharetta,GA,32575,ING DIRECT,"September 28, 2007","January 31, 2019"
531,Metropolitan Savings Bank,Pittsburgh,PA,35353,Allegheny Valley Bank of Pittsburgh,"February 2, 2007","October 27, 2010"
532,Bank of Ephraim,Ephraim,UT,1249,Far West Bank,"June 25, 2004","April 9, 2008"
533,Reliance Bank,White Plains,NY,26778,Union State Bank,"March 19, 2004","April 9, 2008"
534,Guaranty National Bank of Tallahassee,Tallahassee,FL,26838,Hancock Bank of Florida,"March 12, 2004","April 17, 2018"
535,Dollar Savings Bank,Newark,NJ,31330,No Acquirer,"February 14, 2004","April 9, 2008"
536,Pulaski Savings Bank,Philadelphia,PA,27203,Earthstar Bank,"November 14, 2003","October 6, 2017"
537,First National Bank of Blanchardville,Blanchardville,WI,11639,The Park Bank,"May 9, 2003","June 5, 2012"
538,Southern Pacific Bank,Torrance,CA,27094,Beal Bank,"February 7, 2003","October 20, 2008"
539,Farmers Bank of Cheneyville,Cheneyville,LA,16445,Sabine State Bank & Trust,"December 17, 2002","October 20, 2004"
540,Bank of Alamo,Alamo,TN,9961,No Acquirer,"November 8, 2002","March 18, 2005"
541,AmTrade International Bank En Español,Atlanta,GA,33784,No Acquirer,"September 30, 2002","September 11, 2006"
542,Universal Federal Savings Bank,Chicago,IL,29355,Chicago Community Bank,"June 27, 2002","October 6, 2017"
543,Connecticut Bank of Commerce,Stamford,CT,19183,Hudson United Bank,"June 26, 2002","February 14, 2012"
544,New Century Bank,Shelby Township,MI,34979,No Acquirer,"March 28, 2002","March 18, 2005"
545,Net 1st National Bank,Boca Raton,FL,26652,Bank Leumi USA,"March 1, 2002","April 9, 2008"
546,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002","February 5, 2015"
547,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002","October 25, 2012"
548,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002","November 6, 2003"
549,"Hamilton Bank, NA En Español",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002","September 21, 2015"
550,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001","October 6, 2017"
551,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
552,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
553,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
554,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
555,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

In [141]:
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","June 18, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","February 1, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","February 21, 2018"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

In [142]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps

0     2019-05-31
1     2017-12-15
2     2017-10-13
3     2017-05-26
4     2017-05-05
         ...
551   2001-07-27
552   2001-05-03
553   2001-02-02
554   2000-12-14
555   2000-10-13
Name: Closing Date, Length: 556, dtype: datetime64[ns]

In [156]:
dateCount = close_timestamps.dt.date.value_counts() #Count Dates in this column
dayCount = close_timestamps.dt.day.value_counts() #Count Days in this column
monthCount = close_timestamps.dt.month.value_counts() #Count months in this column
yearCount = close_timestamps.dt.year.value_counts() #Count years in this column
dateCount

2009-10-30    9
2010-04-16    8
2010-08-20    8
2009-07-02    7
2010-04-23    7
             ..
2002-06-26    1
2013-08-09    1
2011-02-25    1
2004-06-25    1
2012-03-02    1
Name: Closing Date, Length: 252, dtype: int64

In [157]:
dayCount

23    31
30    30
19    30
20    27
17    23
      ..
12    10
9     10
31     9
1      8
3      4
Name: Closing Date, Length: 31, dtype: int64

In [158]:
monthCount

7     74
10    59
4     59
1     51
5     44
      ..
3     40
9     38
6     36
12    35
11    35
Name: Closing Date, Length: 12, dtype: int64

In [159]:
yearCount

2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2007      3
2003      3
2000      2
2019      1
Name: Closing Date, Length: 17, dtype: int64

# Parsing XML with lxml.objectify
## XML (eXtensible Markup Language)

In [7]:
from lxml import objectify
parsed = objectify.parse(open('abc.xml'))
root = parsed.getroot()

In [10]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
#         print(child.tag)
#         print(child.pyval)
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [11]:
data

[{'AGENCY_NAME': 'Metro-North Railroad',
  'INDICATOR_NAME': 'Escalator Availability',
  'DESCRIPTION': 'Percent of the time that escalators are operational\nsystemwide. The availability rate is based on physical observations performed\nthe morning of regular business days only. This is a new indicator the agency\nbegan reporting in 2009.',
  'PERIOD_YEAR': 2011,
  'PERIOD_MONTH': 12,
  'CATEGORY': 'Service Indicators',
  'FREQUENCY': 'M',
  'INDICATOR_UNIT': '%',
  'YTD_TARGET': 97.0,
  'YTD_ACTUAL': '',
  'MONTHLY_TARGET': 97.0,
  'MONTHLY_ACTUAL': ''}]

In [14]:
from io import StringIO
tag = '<a href="http://www.google.com" target="_blank">Google</a>'
root = objectify.parse(StringIO(tag)).getroot()

In [22]:
root.get('href')

'http://www.google.com'

In [23]:
root.text

'Google'

In [29]:
xlsx = pd.ExcelFile('Book1.xlsx')

In [31]:
pd.read_excel(xlsx, 'Sheet1')

,Unnamed: 0,State,ZipCode,TaxRegionName,StateRate,EstimatedCombinedRate,EstimatedCountyRate,EstimatedCityRate,EstimatedSpecialRate,RiskLevel
0,0,AK,one,ANCHORAGE BOROUGH,0.0,0.0,0.0,NaN,0.0,1
1,1,AK,one,ANCHORAGE BOROUGH,0.0,NaN,0.0,0.0,0.0,2
2,2,AK,two,ANCHORAGE BOROUGH,0.0,0.0,NaN,0.0,NaN,3
3,3,AK,two,ANCHORAGE BOROUGH,NaN,0.0,0.0,0.0,0.0,4

In [43]:
writer = pd.ExcelWriter('Book1.xlsx')
failures.to_excel(writer,'Sheet1')
writer.save()

# Interacting with Web APIs

In [44]:
import requests

In [45]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)

In [49]:
data = resp.json()
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27264',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27264/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27264/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27264/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27264',
  'id': 464874621,
  'node_id': 'MDU6SXNzdWU0NjQ4NzQ2MjE=',
  'number': 27264,
  'title': "ENH: support 'duplicated' functionality for ExtensionArrays",
  'user': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76812,
    'node_id': 'MDU6TGFiZWw3NjgxMg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement',
    'name': 'Enhancement',
    'color': '4E9A06',
    'default': False},
   {'id': 849023693,
    'node_id': 'MDU6TGFiZWw4NDkwMjM2OTM=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/ExtensionArray',
    'name': 'ExtensionArray',
    'color': '6138b5',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-07-06T17:31:09Z',
  'updated_at': '2019-07-06T17:31:20Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'body': 'For the `factorize`, `unique`, `groupby` hashtable-based functionalities, we included a `_values_for_factorize()` / `factorize()` method on the ExtensionArray. So for those methods, it is working nicely. However, for some of the other hashtable-based methods such as `duplicated()` or `drop_duplicates`, this machinery is not used and the EA is still coerced to a numpy array before passing to the algos code.\r\n\r\nSmall illustration that this is the fact by patching the IntegerArray to print when being coerced to a numpy array:\r\n\r\n```patch\r\n--- a/pandas/core/arrays/integer.py\r\n+++ b/pandas/core/arrays/integer.py\r\n@@ -364,6 +364,7 @@ class IntegerArray(ExtensionArray, ExtensionOpsMixin):\r\n         the array interface, return my values\r\n         We return an object array here to preserve our scalar values\r\n         """\r\n+        print("getting coerced to an array")\r\n         return self._coerce_to_ndarray()\r\n```\r\n\r\n```\r\nIn [2]: s = pd.Series([1, 2, 1, 2, None], dtype=\'Int64\') \r\n\r\nIn [3]: s\r\nOut[3]: getting coerced to an array\r\n\r\n0      1\r\n1      2\r\n2      1\r\n3      2\r\n4    NaN\r\ndtype: Int64\r\n\r\nIn [4]: s.duplicated()\r\ngetting coerced to an array\r\ngetting coerced to an array\r\nOut[4]: \r\n0    False\r\n1    False\r\n2     True\r\n3     True\r\n4    False\r\ndtype: bool\r\n\r\nIn [5]: s.unique()\r\nOut[5]: \r\n<IntegerArray>\r\n[1, 2, NaN]\r\nLength: 3, dtype: Int64\r\n```'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27262',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27262/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27262/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27262/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/27262',
  'id': 464861830,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjk1MDQ0MTQ2',
  'number': 27262,
  'title': 'Enhancement ignore keys in json normalize',
  'user': {'login': 'bhavaniravi',
   'id': 10116000,
   'node_id': 'MDQ6VXNlcjEwMTE2MDAw',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/10116000?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/bhavaniravi',
   'html_url': 'https://github.com/bhavaniravi',
   'followers_url': 'https://api.github.com/users/bhavaniravi/followers',
   'following_url': 'https://api.github.com/users/bhavaniravi/following{/other_user}',
   'gists_url': 'https://api.github.com/users/bhavaniravi/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/bhavaniravi/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/bhavaniravi/subscriptions',
   'organizations_url': 'https://api.github.com/users/bhavaniravi/orgs',
   'repos_url': 'https://api.github.com/users/bhavaniravi/repos',
   'events_url': 'https://api.github.com/users/bhavaniravi/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/bhavaniravi/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-07-06T14:57:57Z',
  'updated_at': '2019-07-06T15:37:05Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/27262',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/27262',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/27262.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/27262.patch'},
  'body': '- [x] closes #27241 \r\n- [x] tests added / passed\r\n- [x] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`\r\n- [x] whatsnew entry\r\n'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27261',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27261/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27261/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27261/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/27261',
  'id': 464828980,
  'node_id': 'MDU6SXNzdWU0NjQ4Mjg5ODA=',
  'number': 27261,
  'title': "pandas-0.25.0rc0 problem on Python-3.8: 'PandasExprVisitor' object has no attribute 'visit_Constant'",
  'user': {'login': 'stonebig',
   'id': 4312421,
   'node_id': 'MDQ6VXNlcjQzMTI0MjE=',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/4312421?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/stonebig',
   'html_url': 'https://github.com/stonebig',
   'followers_url': 'https://api.github.com/users/stonebig/followers',
   'following_url': 'https://api.github.com/users/stonebig/following{/other_user}',
   'gists_url': 'https://api.github.com/users/stonebig/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/stonebig/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/stonebig/subscriptions',
   'organizations_url': 'https://api.github.com/users/stonebig/orgs',
   'repos_url': 'https://api.github.com/users/stonebig/repos',
   'events_url': 'https://api.github.com/users/stonebig/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/stonebig/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 1387848774,
    'node_id': 'MDU6TGFiZWwxMzg3ODQ4Nzc0',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Python%203.8',
    'name': 'Python 3.8',
    'color': 'fef2c0',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/61',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/61/labels',
   'id': 3759483,
   'node_id': 'MDk6TWlsZXN0b25lMzc1OTQ4Mw==',
   'number': 61,
   'title': '0.25.0',
   'description': '',
   'creator': {'login': 'jreback',
    'id': 953992,
    'node_id': 'MDQ6VXNlcjk1Mzk5Mg==',
    'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jreback',
    'html_url': 'https://github.com/jreback',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'type': 'User',
    'site_admin': False},
   'open_issues': 22,
   'closed_issues': 1161,
   'state': 'open',
   'created_at': '2018-10-23T02:34:15Z',
   'updated_at': '2019-07-06T16:05:48Z',
   'due_on': '2019-07-01T07:00:00Z',
   'closed_at': None},
  'comments': 2,
  'created_at': '2019-07-06T07:47:59Z',
  'updated_at': '2019-07-06T17:23:22Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n```\r\nimport pandas as pd\r\nimport numpy as np\r\n\r\nidx = pd.date_range(\'2000\', \'2005\', freq=\'d\', closed=\'left\')\r\ndatas = pd.DataFrame({\'Color\':  [ \'green\' if x> 1 else \'red\' for x in np.random.randn(len(idx))], \r\n         \'Measure\': np.random.randn(len(idx)), \'Year\': idx.year},\r\n          index=idx.date)\r\ndatas.query(\'Measure > 0\').groupby([\'Color\',\'Year\']).size().unstack()\r\n```\r\n\r\nblows-up with\r\n\r\n````\r\n---------------------------------------------------------------------------\r\nAttributeError                            Traceback (most recent call last)\r\n<ipython-input-18-6c03ccdf9365> in <module>\r\n      6          \'Measure\': np.random.randn(len(idx)), \'Year\': idx.year},\r\n      7           index=idx.date)\r\n----> 8 datas.query(\'Measure > 0\').groupby([\'Color\',\'Year\']).size().unstack()\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\frame.py in query(self, expr, inplace, **kwargs)\r\n   3190         kwargs["level"] = kwargs.pop("level", 0) + 1\r\n   3191         kwargs["target"] = None\r\n-> 3192         res = self.eval(expr, **kwargs)\r\n   3193 \r\n   3194         try:\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\frame.py in eval(self, expr, inplace, **kwargs)\r\n   3306             kwargs["target"] = self\r\n   3307         kwargs["resolvers"] = kwargs.get("resolvers", ()) + tuple(resolvers)\r\n-> 3308         return _eval(expr, inplace=inplace, **kwargs)\r\n   3309 \r\n   3310     def select_dtypes(self, include=None, exclude=None):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\eval.py in eval(expr, parser, engine, truediv, local_dict, global_dict, resolvers, level, target, inplace)\r\n    320         )\r\n    321 \r\n--> 322         parsed_expr = Expr(expr, engine=engine, parser=parser, env=env, truediv=truediv)\r\n    323 \r\n    324         # construct the engine and evaluate the parsed expression\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in __init__(self, expr, engine, parser, env, truediv, level)\r\n    825         self.env.scope["truediv"] = truediv\r\n    826         self._visitor = _parsers[parser](self.env, self.engine, self.parser)\r\n--> 827         self.terms = self.parse()\r\n    828 \r\n    829     @property\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in parse(self)\r\n    842     def parse(self):\r\n    843         """Parse an expression"""\r\n--> 844         return self._visitor.visit(self.expr)\r\n    845 \r\n    846     @property\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit(self, node, **kwargs)\r\n    439         method = "visit_" + node.__class__.__name__\r\n    440         visitor = getattr(self, method)\r\n--> 441         return visitor(node, **kwargs)\r\n    442 \r\n    443     def visit_Module(self, node, **kwargs):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit_Module(self, node, **kwargs)\r\n    445             raise SyntaxError("only a single expression is allowed")\r\n    446         expr = node.body[0]\r\n--> 447         return self.visit(expr, **kwargs)\r\n    448 \r\n    449     def visit_Expr(self, node, **kwargs):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit(self, node, **kwargs)\r\n    439         method = "visit_" + node.__class__.__name__\r\n    440         visitor = getattr(self, method)\r\n--> 441         return visitor(node, **kwargs)\r\n    442 \r\n    443     def visit_Module(self, node, **kwargs):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit_Expr(self, node, **kwargs)\r\n    448 \r\n    449     def visit_Expr(self, node, **kwargs):\r\n--> 450         return self.visit(node.value, **kwargs)\r\n    451 \r\n    452     def _rewrite_membership_op(self, node, left, right):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit(self, node, **kwargs)\r\n    439         method = "visit_" + node.__class__.__name__\r\n    440         visitor = getattr(self, method)\r\n--> 441         return visitor(node, **kwargs)\r\n    442 \r\n    443     def visit_Module(self, node, **kwargs):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit_Compare(self, node, **kwargs)\r\n    742             op = self.translate_In(ops[0])\r\n    743             binop = ast.BinOp(op=op, left=node.left, right=comps[0])\r\n--> 744             return self.visit(binop)\r\n    745 \r\n    746         # recursive case: we have a chained comparison, a CMP b CMP c, etc.\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit(self, node, **kwargs)\r\n    439         method = "visit_" + node.__class__.__name__\r\n    440         visitor = getattr(self, method)\r\n--> 441         return visitor(node, **kwargs)\r\n    442 \r\n    443     def visit_Module(self, node, **kwargs):\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit_BinOp(self, node, **kwargs)\r\n    561 \r\n    562     def visit_BinOp(self, node, **kwargs):\r\n--> 563         op, op_class, left, right = self._maybe_transform_eq_ne(node)\r\n    564         left, right = self._maybe_downcast_constants(left, right)\r\n    565         return self._maybe_evaluate_binop(op, op_class, left, right)\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in _maybe_transform_eq_ne(self, node, left, right)\r\n    482             left = self.visit(node.left, side="left")\r\n    483         if right is None:\r\n--> 484             right = self.visit(node.right, side="right")\r\n    485         op, op_class, left, right = self._rewrite_membership_op(node, left, right)\r\n    486         return op, op_class, left, right\r\n\r\nC:\\WinP\\bd38\\bu\\WPy32-3800b2\\python-3.8.0b2\\lib\\site-packages\\pandas\\core\\computation\\expr.py in visit(self, node, **kwargs)\r\n    438 \r\n    439         method = "visit_" + node.__class__.__name__\r\n--> 440         visitor = getattr(self, method)\r\n    441         return visitor(node, **kwargs)\r\n    442 \r\n\r\nAttributeError: \'PandasExprVisitor\' object has no attribute \'visit_Constant\'\r\n\r\n````'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27260',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27260/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27260/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27260/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/27260',
  'id': 464812689,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0Mjk1MDExNDU3',
  'number': 27260,
  'title': 'CLN: remove unnecessary fastpath, transpose kwargs in internals',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 211029535,
    'node_id': 'MDU6TGFiZWwyMTEwMjk1MzU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean',
    'name': 'Clean',
    'color': '207de5',
    'default': False},
   {'id': 49094459,
    'node_id': 'MDU6TGFiZWw0OTA5NDQ1OQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Internals',
    'name': 'Internals',
    'color': 'fbca04',
    'default': False}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2019-07-06T03:26:49Z',
  'updated_at': '2019-07-06T17:26:04Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/27260',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/27260',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/27260.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/27260.patch'},
  'body': 'also clean up some unfortunate formatting left by black.\r\n\r\nI _think_ we can also get rid of the transpose kwarg in putmask, separate pass.'},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27259',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/27259/labels{/name}',

In [51]:
data[0]['title']

"ENH: support 'duplicated' functionality for ExtensionArrays"

In [55]:
issues = pd.DataFrame(data, columns=['number', 'title','labels', 'state'])
issues

,number,title,labels,state
0,27264,ENH: support 'duplicated' functionality for Ex...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
1,27262,Enhancement ignore keys in json normalize,[],open
2,27261,pandas-0.25.0rc0 problem on Python-3.8: 'Panda...,"[{'id': 1387848774, 'node_id': 'MDU6TGFiZWwxMz...",open
3,27260,"CLN: remove unnecessary fastpath, transpose kw...","[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
4,27259,COMPAT: catch InvalidIndexError in base Indexe...,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
5,27258,Broken usage of NDFrameIndexer in geopandas,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
6,27257,REF: ops.missing,"[{'id': 57296398, 'node_id': 'MDU6TGFiZWw1NzI5...",open
7,27256,BUG: Enable changing dtype of column where col...,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
8,27255,BUG: #27253,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
9,27254,REF: rename _data-->_mgr,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
10,27253,BUG: _table_mod is 'NoneType' when it should n...,"[{'id': 2301354, 'node_id': 'MDU6TGFiZWwyMzAxM...",open
11,27252,read_excel in version 0.25.0rc0 treats empty c...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open
12,27251,CLN: Can we remove libalgos.arrmap_*?,[],open
13,27250,Incorrect Message in KeyError with MultiIndex,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
14,27248,Different handling of __getitem__ and __setite...,[],open
15,27247,Release 0.25.0rc0 cannot import DataFrame on P...,"[{'id': 76865106, 'node_id': 'MDU6TGFiZWw3Njg2...",open
16,27245,TST: add tests to validate margin results for ...,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
17,27242,Separate MultiIndex names from levels,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
18,27241,Ignore flattening certain keys in `json_normal...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
19,27239,"BUG: Fix divmod fill value, closes #26987","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,27237,ENH: Added key option to df/series.sort_values...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
21,27235,Adding fastpath and name parameters to docstri...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
22,27234,Preserve data types in pandas.DataFrame.mean(),[],open
23,27233,DOC: update contributing guidelines for black,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
24,27229,REF: separate indexer utilities from indexing.py,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
25,27228,Add Series._repr_html_,"[{'id': 57395487, 'node_id': 'MDU6TGFiZWw1NzM5...",open
26,27227,Wheel build failing,"[{'id': 129350, 'node_id': 'MDU6TGFiZWwxMjkzNT...",open
27,27226,DOC: update contributing guide for black,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
28,27224,PERF: dtype checks,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
29,27222,Wish: Write support for Open Document Spreadsh...,"[{'id': 49254273, 'node_id': 'MDU6TGFiZWw0OTI1...",open

# Interacting with Databases

In [56]:
import sqlite3
query = """
    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER);"""

In [58]:
print(query)

    CREATE TABLE test
    (a VARCHAR(20), b VARCHAR(20),
    c REAL, d INTEGER);

In [59]:
con = sqlite3.connect('mydata.sqlite')

In [60]:
con.execute(query)

In [61]:
con.commit()

In [62]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)
con.commit()

In [63]:
cursor = con.execute('select * from test')
rows = cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]